
body {
  background-color: hsl(218, 31%, 15%);
  color: hsl(0, 100%, 99%);
}

.table {
  display: grid;
  grid-template-columns: repeat(18, 64px);
  grid-template-rows: repeat(10, 64px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.element {
  border: solid 1px;
  margin: 1.25px;
  padding: 3px;
}

.element:hover{
  transform: translate(0, -10px);
}

.number{
  font-size: 13px;
  text-align: center;
  /* make smaller */
  /* Make it the middle of the top */
}

.symbol{
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.name{
  font-size: 10px;
  text-align: center;
  /* make bigger */
  /* make Bold */
   /* Make it the middle of the bottom */
}

.key {
  border: 3px solid black;
  position: absolute;
  top: 95vh;
  transform: translateY(-100%);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;

}

.key-entry{
  display: flex;
  display:inline;
  align-content: center;

  
}

.color-block{
  height: 15px;
  width: 80px;
  border: 2px solid black;
}